
.signup-section {
    width: 65%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border-radius: 10px;
    /*border-top: 4px solid #3498db;
    border-right: 4px solid #3498db;
    border-bottom: 4px solid #3498db;
    border-left: 4px solid #3498db;*/
}

.header {
    text-align: center;
    background: #e67e22;
    color: #fff;
}

.btn-signup{
    background-color: #3498db;
    width: 100%;
    color: #fff;
    transition: background-color 0.2s;
}

.btn-signup:hover, .btn-signup:active {
    background-color: #236590;
} 
