.main-nav {
    list-style: none;
}

.main-nav li {
    float: right;
    display: block;
}

.main-nav li a:link, .main-nav li a:visited {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0 8px 0;
}

.main-nav li a:hover, .main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
