/* You can add global styles to this file, and also import other style files */
* {
    margin-top: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color : #555;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('/assets/img/bgImage.jpg');
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center; 
}

.clearfix:after{
    content : "";
    display: table;
    clear: both;
}